body{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for Header */

#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px -2px gray;
    position: relative;
    z-index: 2;
}

#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
}

#header .header-inner .logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

#header .header-inner .nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu>li{
    margin-right: 10px;
    width: fit-content;
    padding: 5px;
    position: relative;
}

.main-menu>li>a{
    text-decoration: none;
    color: #020516;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
}

.main-menu > li > a.active{
    color: #0b249e;
    text-shadow: 1px 1px #f5eeee;
}

.sub-menu, .sub-menu-2{
    display: none;
}

.main-menu > li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f4f4f4;
    padding: 10px;
    width: max-content;
}

.main-menu > li:hover .sub-menu li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu > li:hover .sub-menu li:last-child{
    border-bottom: none;
    margin-bottom:0;
}

.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li:hover .sub-menu > li:hover .sub-menu-2{
    display: block;
    position: absolute;
    top: 60%;
    left: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    width: max-content;
}

.main-menu>li:hover .sub-menu > li:hover .sub-menu-2 li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu>li:hover .sub-menu > li:hover .sub-menu-2 a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}

/* CSS for Footer */

.footer-container{
    height: 500px;
    width: 100%;
    background-color: #2f319e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container .sub-footer{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-container .sub-footer .footer-inner{
    height: 90%;
    width: 33%;
    /* background-color: antiquewhite; */
}
.footer-container .sub-footer .footer-inner h2{
    color: white !important;
    font-size: 17px;
    font-weight: 600;
    margin: 30px 0;
    
}
.footer-container .sub-footer .footer-inner ul{
    color: white;
    line-height: 40px;
    margin-left: 30px;
    list-style: disc;
    font-size: 17px;
}
.footer-container .sub-footer .footer-inner div{
    color: white;
    max-width: 90%;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 10px;
}
.footer-container .sub-footer .footer-inner input{
    margin: 10px 0;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
/* .footer-container .sub-footer .footer-inner input:first-child{
    margin-top: 0px;
} */
.footer-container .sub-footer .footer-inner button{
    margin-top: 20px;
    height: 50px;
    text-transform: uppercase;
    background-color: #ebd017;
    width: 100%;
    font-weight: 600;
    border-radius: 5px;
    border: none;

}
.footer-container .sub-footer .footer-inner button:hover{
    background-color: #008fca;
    color: white;
}