body{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS for Header */

#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px -2px gray;
    position: relative;
    z-index: 2;
}

#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
}

#header .header-inner .logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

#header .header-inner .nav{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu>li{
    margin-right: 10px;
    width: fit-content;
    padding: 5px;
    position: relative;
}

.main-menu>li>a{
    text-decoration: none;
    color: #020516;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 1px 1px #f5eeee;
}

.sub-menu, .sub-menu-2{
    display: none;
}

.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #f4f4f4;
    padding: 10px;
    width: max-content;
}

.main-menu>li:hover .sub-menu li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li .sub-menu > li:hover .sub-menu-2{
    display: block;
    position: absolute;
    top: 60%;
    left: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    width: max-content;
}

.main-menu>li .sub-menu > li:hover .sub-menu-2 li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu>li .sub-menu > li:hover .sub-menu-2 a{
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}
