.carousel-control-prev{
    left: -6%;
}

.carousel-control-next{
    right: -6%;
}

#intro h3, #intro h4{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#intro h3{
    font-size: 27px;
    color: #3e3d3d;
    line-height: 48.6px;
}

#intro h4{
    font-size: 16px;
    line-height: 28.8px;
    color: #000;
    margin-bottom: 30px;
}

#intro{
    width: 70%;
}
